.nav_1 {
  background-color: teal;
}

body {
  background-image : url("assets/background.jpg.png");
  background-repeat: repeat;
}

#sticky-footer {
  flex-shrink: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(15, 2, 2);
  color: white;
  text-align: center;
 }
 
 #sticky-footer-portfolio {
  flex-shrink: none;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(15, 2, 2);
  color: white;
  text-align: center;
 }

.font_one {
  
  border-style: groove;
}
  
section {
  background-color: gray;
  width: 80%;
  height: 90%;
  margin-top: 20px;
  margin: auto;

}

.card{
  margin-top: 20px;
}

.headerOne{
  text-align: center;
  margin-left: 100px;
  
}
 
 